---
interface Props {
    label?: string,    
    name: string,
};

const {name, label} = Astro.props;
---

<div class="mb-6 pt-3 rounded bg-gray-200">
    <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for={name}>{label ?? name}</label>
    <slot>
        <input type="text" id={name} name={name} class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3"/>
    </slot>
</div>
