---
import Main from '@layouts/auth/Main.astro';
import {Password, Submit} from '@components/auth/inputs'
---

<Main title="Reset your password" action="resetPassword">
    <Password label="Type your new password" name="password" slot="inputs"/>
    <Password label="Type it once again" name="passwordConfirm" slot="inputs"/>
    <div class="flex justify-start" slot="after-inputs">
        <p class="text-sm text-purple-600 mb-6">By pressing "Reset password" you are setting your new password.
            <br/>So your previous password won't be valid anymore </p>
    </div>       
    <Submit text="Reset password" id="reset-pass-button" slot="buttons"/>    
    <div class="max-w-lg mx-auto text-center mt-12 mb-6" slot="after-main">
        <p class="text-white">Don't want to do this? <a href="login" class="font-bold hover:underline">Sign in</a>.</p>
    </div>
</Main>